<div class="workout-show text-center">
    <h2 class="mt-4"><span><i class="fas fa-check-circle"></i></span>ワークアウト詳細</h2>
</div>
<div class="col-md-8 offset-md-2 mt-4">
  <table class="table table-bordered">
      <tr>
        <th>日付</th>
        <td><%= @workout.start_time&.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <th>タイトル</th>
        <td><%= @workout.title %></td>
      </tr>
      <tr>
        <th>ワークアウト内容</th>
        <td><span style="white-space: pre-wrap;"><%= @workout.content %></span></td>
      </tr>
  </table>
  <% if current_user == @workout.user%>
  <%= link_to '一覧へ戻る', workouts_user_path(@current_user), class: 'btn btn-secondary' %>
  <%= link_to '編集', edit_workout_path(@workout), class: 'btn btn-secondary' %>
  <%= link_to '削除', @workout, method: :delete, data: { confirm: '本当に削除してよろしいですか？' },  class: 'btn btn-danger' %>
  <% else %>
  <%= link_to '一覧へ戻る', workouts_user_path(@workout.user), class: 'btn btn-secondary' %>
  <% end %>
</div>