<div class="mypage">
  <div class="profile-icon">
    <% if user.image? %>
      <%= image_tag user.image.url, class: "bd-placeholder-img card-img-top", :alt=>"" %>
    <% else %>
      <%= image_tag("default2.png", class: "bd-placeholder-img card-img-top", :alt=>"") %>
    <% end %>
  </div>
  <div class="profile-name">
    <div class="profile-title text-center">
      <h1>
        <strong><%= user.name %></strong>
        <% if current_user == user %>
            <%= link_to(content_tag(:i, nil, class: 'fas fa-edit edt'), edit_user_path(current_user)) %>
        <% else %>
          <%= link_to(content_tag(:i, nil, class: 'fas fa-envelope dm'), chat_path(user)) %>
        <% end %>
      </h1>
      <% unless current_user == user %>
        <%= render 'relationships/follow_button', user: user %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6 offset-md-3 text-center mt-4">
    <div class="profile-text">
      <% if @user.profile? %>
        <h4><span style="white-space: pre-wrap;"><%= user.profile %></span></h4>
      <% end %>
    </div>
  </div>
  <div class="col-12 text-center">
    <div class="mypage-tool mt-4 mb-4">
      <%= link_to 'InBody日記', diaries_user_path, class: 'btn btn-malformation mypage-btn' %>
      <%= link_to 'カレンダー', workouts_user_path, class: 'btn btn-malformation mypage-btn' %>
    </div>
  </div>
</div>