<% if users.any? %>
  <ul class="list-unstyled mt-4 ml-4">
    <% users.each do |user| %>
      <li class="media mt-4">
        <div class="icon">
        <% if user.image? %>
          <%= image_tag user.image.url, :class=>"mr-3 rounded", :alt=>"" %>
        <% else %>
          <%= image_tag "default2.png", :class=>"mr-3 rounded", :alt=>"" %>
        <% end %>
        </div>
          
      <div class="media-body">
          <div>
            <h5><%= link_to user.name, user_path(user) %></h5>
            <% if user.profile? %>
              <span style="white-space: pre-wrap;"><%= user.profile %></span>
            <% end %>
          </div>
          <div class="invisible-btn">
            <%= render 'relationships/follow_button', user: user %>
          </div>
      </div>
      </li>
    <% end %>
  </ul>
  <div class="text-center">
    <%= paginate users %>
  </div>
<% end %>