<div class="diary">
  <div class="col-12 text-center">
    <div class="diary-title mt-4">
      <h2><span><i class="fas fa-check-circle"></i></span><%= @user.name %>のInBody推移</h2>
    </div>
    <div class="n-diary">
       <% if current_user == @user %>
         <%= link_to '新しい記録を追加', new_diary_path, class: 'btn btn-danger' %>
       <% end %>
    </div>
  </div>
  
  <div class="row diary mr-2 ml-2">
  <% if @diaries.any? %>
    <% @diaries.each do |diary| %>
      <div class="col-md-6 diary-table mt-4">
        <div class="post-time">
          <span class="text-muted"> 投稿日時:  <%= diary.created_at.to_s(:datetime_jp) %></span>
          <% if current_user == diary.user %>
            <%= link_to(content_tag(:i, nil, class: 'fas fa-edit edt'), edit_diary_path(diary)) %>
            <%= link_to(content_tag(:i, nil, class: 'fas fa-trash size'), diary, method: :delete, data: { confirm: "本当に削除しますか？?" }) %>
          <% end %>
        </div>
        <table class="table table-bordered">
          <thead class="thead-light text-center mt-4">
            <tr>
              <th>体重</th>
              <th>体脂肪率</th>
              <th>BMI</th>
              <th>筋肉量</th>
              <th>基礎代謝</th>
              <th>内臓脂肪</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <th><%= diary.weight %>kg</th>
              <th><%= diary.fat %>%</th>
              <th><%= diary.bmi %></th>
              <th><%= diary.muscle %>kg</th>
              <th><%= diary.metabolism %>kcal</th>
              <th><%= diary.organsfat %>レベル</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 text-center diary-img mt-4">
        <%= image_tag diary.image.url if diary.image? %>
      </div>
    <% end %>
  </div>
    <%= paginate @diaries %>
  <% end %>
</div>