<% if @users.any? %>
  <div class="col-md-6 offset-md-3 mt-4 text-center index-title">
    <h2><strong><i class="fa fa-user-circle"></i> BodyCheck ユーザー一覧</strong></h2>
  </div>
  <div class="form_group col-md-4 offset-md-4 mt-4 text-center">
    <%= form_tag(users_path, :method => "get") do %>
    <%= text_field_tag :search, nil, class: "form-control", placeholder: "ユーザー名を入力" %> 
    <%= submit_tag "検索" ,:name => nil ,class: "btn  btn-outline-danger btn-sm mt-2"%> 
    <% end %> 
 </div>
  <div class="users col-md-6 offset-md-3 mt-4 mb-4">
    <% @users.each do |user| %>
      <div class="card text-center user-index">
        <div class="card-header">
          <div class="index-icon">
            <% if user.image? %>
              <%= image_tag user.image.url, :class=>"mr-3 rounded", :alt=>"" %>
            <% else %>
              <%= image_tag "default2.png", :class=>"mr-3 rounded", :alt=>"" %>
            <% end %>
          </div>
          <h4 class="card-title"><%= link_to user.name, user_path(user) %></h4>
        </div>
        <div class="card-footer">
          <div class="card-profile mt-2">
            <% if user.profile? %>
              <span style="white-space: pre-wrap;"><%= user.profile %></span>
            <% end %>
          </div>
          <div class="invisible-btn mt-2 mb-2">
            <%= render 'relationships/follow_button', user: user %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @users %>
<% else %>
  <div class="col-md-6 offset-md-3 text-center mt-4 empty">
    <h3>ユーザーが存在しません...</h3>
    <%= image_tag 'nothing2.png' %>
  </div>
  <div class="text-center">
    <%= link_to 'ユーザー検索に戻る', users_path, class: 'btn btn-dark btn-lg' %>
  </div>
<% end %>