<% if @workouts.any? %>
  <div class="col-md-6 offset-md-3 text-center">
    <div class="heading-title">
      <h2 class="mt-4"><span><i class="fas fa-check-circle"></i></span><%= @user.name %>のワークアウト記録</h2>
    </div>
    <div class="n-workout">
       <% if current_user == @user %>
       <%= link_to '新しい記録を追加', new_workout_path, class: 'btn btn-danger btn-lg' %>
       <% end %>
    </div>
  </div>
  <div class="row workout">
    <div class="col-md-8 offset-md-2 mt-4">
      <% @workouts.each do |workout| %>
        <table class="table table-bordered">
          <thead class="thead-light text-center mt-4">
            <tr>
              <th><strong>日付</strong></th>
              <th>タイトル</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <th><%= workout.start_time.strftime("%Y-%m-%d %H:%M") %></th>
              <th class="workout-link"><%= link_to workout.title, workout %></th>
            </tr>
          </tbody>
        </table>
      <% end %>
      <%= paginate @workouts %>
    </div>
    <div class="col-md-10 offset-md-1">
      <%= month_calendar events: @workouts do |date, workouts| %>
        <%= date.day %>
      <% workouts.each do |workout| %>
        <div class="workout-link">
          <%= link_to workout.title, workout %>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="col-md-6 offset-md-3 text-center mt-4 empty">
      <h3>まだワークアウトの記録がありません...<br>毎日記録を残して、積み上げよう！</h3>
      <%= image_tag 'nothing2.png' %>
  </div>
  <div class="n-workout text-center">
     <% if current_user == @user %>
     <%= link_to '最初の記録を入力しよう！', new_workout_path, class: 'btn btn-dark btn-lg' %>
     <% end %>
  </div>
<% end %>