<div class="col-12 text-center">
  <div class="workout-title">
    <h2 class="mt-4"><span><i class="fas fa-check-circle"></i></span><%= @user.name %>のワークアウト記録</h2>
  </div>
  <div class="n-workout">
     <% if current_user == @user %>
     <%= link_to '新しい記録を追加', new_workout_path, class: 'btn btn-dark' %>
     <% end %>
  </div>
</div>

<% if @workouts.any? %>
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-4">
      <%= @workouts.each do |workout| %>
        <table class="table table-bordered">
          <thead class="thead-light text-center mt-4">
            <tr>
              <th>日付</th>
              <th>タイトル</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <th><%= workout.start_time&.strftime("%Y-%m-%d %H:%M") %></th>
              <th><%= link_to workout.title, workout %></th>
            </tr>
          </tbody>
        </table>
      <% end %>
        <div>
          <%= paginate @workouts %>
        </div>
    </div>
      
      
      <div class="col-12 mt-4 mr-2 ml-2">
        <%= month_calendar events: @workouts do |date, workouts| %>
          <%= date.day %>

        <% workouts.each do |workout| %>
          <div>
            <%= link_to workout.title %>
          </div>
        <% end %>
        <% end %>
      </div>
  </div>
<% end %>
