<div class="chat-main">
  <% if @chats.any? %>
    <div class="chat-container">
      <ul class="chats">
        <% @chats.each do |chat| %>
          <% side = current_user == chat.user ? "right-side" : "left-side" %>
            <li class="<%= side %> mt-2">
              <div class="chat-icon">
                <% if chat.user.image? %>
                  <%= image_tag chat.user.image.url, :class=>"rounded", :alt=>"" %>
                <% else %>
                  <%= image_tag "default2.png", :class=>"rounded", :alt=>"" %>
                <% end %>
                <strong><%= chat.user.name %></strong>
                <% if current_user == chat.user %>
                  <%= link_to(content_tag(:i, nil, class: 'fas fa-trash size'), chat, method: :delete, data: { confirm: "本当に削除しますか？?" }) %>
                <% end %>
              </div>
              <div class="chat-message">
                <span style="white-space: pre-wrap;"><%= chat.message %></span><br><span class="text-muted chat-time"><%= chat.created_at.to_s(:datetime_jp) %></span>
              </div>
            </li> 
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="col-md-6 offset-md-3 text-center empty">
      <h3>まだトークがありません...</h3>
      <%= image_tag 'nothing2.png' %>
    </div>
  <% end %>
  <div class="col-md-6 offset-md-3 mt-4 chat-submit">
    <%= form_with(model: @chat, local: true) do |f| %>
     <%= render 'layouts/error_messages', model: f.object %>
     <div class="form_group">
      <%= f.text_area :message, class: 'form-control', rows: 5, placeholder: "140文字以内" %>
      <%= f.hidden_field :room_id %>
      <%= f.submit '送信', class: 'btn btn-secondary btn-block' %>
     </div>
    <% end %>
  </div>
</div>