<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4 ml-4 mt-4 mr-4">
      <%= form_with(model: @post, local: true) do |f| %>
       <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-group mt-4">
          <%= f.text_area :content, class: 'form-control', rows: 8 %>
        </div>
        <%= f.submit '投稿する', class: 'btn btn-secondary btn-block' %>
      <% end %>
    </aside>
    <div class="col-md-4 mt-4 ml-4 ">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>

    <div class="main">
      <div class="description">
        <h1>毎日のワークアウトを記録<br>写真やインボディ結果の記録で変化がわかりやすい！</h1>
        <h4>他のトレーニーと繋がってモチベーションを高め合おう！</h4>
         <div class="form">
           <%= link_to "今すぐ新規登録", signup_path, class: "btn btn-danger signup" %>
           <%= link_to "ログイン", login_path, class: "btn btn-danger login" %>
         </div>
      </div>
    </div>
           
  <section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading"><strong>BodyCheckとは</strong></h1>
        <h3 class="section-subheading text-muted">「なぜ多くの人はジムにいく回数が徐々に減っていくのか。」「どうすれば楽しく続けられるのか」に特化した、<br>フィットネスのコミュニティサイトです。</h3>
      </div>
    </div>
    <div class="row text-center mt-4">
      <div class="col-md-4">
        <i class="fa fa-paperclip crip-design"></i>
        <h4 class="service-heading">特徴</h4>
        <p class="text-muted text-muted-des"><i class="fa fa-check fa-fw"></i>カレンダー機能でわかりやすくワークアウトを記録<br><i class="fa fa-check fa-fw"></i>定期的にインボディと体の写真を記録することで変化を実感<br><i class="fa fa-check fa-fw"></i>他のユーザーと繋がって、トレーニングや投稿内容が見れる<br><i class="fa fa-check fa-fw"></i>ダイレクトメッセージ機能で他のユーザーとチャットができる</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-paperclip crip-design"></i>
        <h4 class="service-heading">ミッション</h4>
        <p class="text-muted text-muted-des mt-2"><i class="fa fa-check fa-fw"></i>トレーニングを始めた人、始めたけど続かない人がフィットネスを楽しいと思ってもらえるようなコミュニティの形成<br><i class="fa fa-check fa-fw"></i>成果を数字・写真で可視化することで挫折してしまう人を少なくする</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-paperclip crip-design"></i>
        <h4 class="service-heading">作成経緯</h4>
        <p class="text-muted text-muted-des"><i class="fa fa-check fa-fw"></i>スポーツクラブでの勤務経験から、ジムに入会したのに続かない人の特徴を分析。定期的な計測をしていない、目標が不明確なためモチベーションの維持ができていないことが原因。<br><i class="fa fa-check fa-fw"></i>目標を周囲に宣言する、インボディやワークアウト内容を定期的に記録する、他のユーザーにも記録が公開されている適度な緊張感を作ることで継続を応援。</p>
      </div>
    </div>
    <div class="col-lg-12 text-center">
      <h6 class="section-subheading text-muted">作成経緯の詳細はこちらを<u><a href="https://github.com/naoki-kubota/BodyCheck" target="_blank"><i class="fa fa-link"></i></a></u>ご参照ください。</h6>
    </div>
  </div>
</section>
    <footer class="home">
    <p>Copyright BodyCheck All Rights Reserved</p>
    </footer>
<% end %>