<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-5 mt-4 ml-4 mr-4">
      <%= form_with(model: @post, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 8 %>
        </div>
        <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-sm-6 mt-4">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Body Check</h1>
      <%= link_to 'Sign up!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>