<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #111111;">
    <a class="navbar-brand" href="/"><img class="image-logo "src="/assets/default2.png"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>heroku login -i
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'マイページ', user_path(@current_user), class: 'nav-link' %></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'マイページ編集', edit_user_path(@current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ユーザーの一覧', users_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete, data: {confirm: "ログアウトしますか？"} %></li>
              
            </ul>
          </li>
        <% else %>

        <li class="nav-item"><button type="button" class="btn btn-block btn-outline-secondary"><a href="/signup" class="nav-link" style="font-color: white"> 新規登録</a></button></li>

        <li class="nav-item"><button type="button" class="btn btn-block btn-outline-secondary"><a href="/login" class="nav-link" style="font-color: white">ログイン</a></button></li>

        <% end %>
      </ul>
    </div>
  </nav>
</header>


          