<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #111111;">
    <div class="header-logo">
      <a class="navbar-brand" href="/"><%= image_tag "logo8.png", :alt => '' %></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'ユーザー一覧', users_path, class: 'btn btn-block btn-outline-light' %></li>
          <li class="nav-item"><%= link_to 'マイページ', user_path(@current_user), class: 'btn btn-block btn-outline-light' %></li>
          <li class="nav-item dropdown">
            <a href="#" class="btn btn-block btn-outline-light dropdown-toggle" data-toggle="dropdown">ログイン中：<%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'マイページ編集', edit_user_path(@current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'タイムライン', root_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete, data: {confirm: "ログアウトしますか？"} %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><button type="button" class="btn btn-block btn-outline-light" onclick="location.href='/signup'">新規登録</button></li>
          <li class="nav-item"><button type="button" class="btn btn-block btn-outline-light" onclick="location.href='/login'">ログイン</button></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>